<div class="stock-card">
{{!-- 
	<div class="stock-name"> 
		{{stockName}}
	</div>


	<div class="stock-name"> 
		{{stockSymbol}}
	</div>

 --}}

	<div class="stock-name"> 
		{{stockInfo}}
	</div>


	<button {{action "componentBtnClicked"}}> Click </button>


</div>