

<button {{action "changeData"}}> click </button>


{{#if isEverythingShown}}


		{{#each stocksArr as |stock|}}


			{{display-stock 
				
				stockName=stock.name
				stockSymbol=stock.symbol
				stockPrice=stock.price

				actionToDo=(action 'secretThing')
	

			}}


		{{/each}}

{{else}}

	We are working with just {{singleStockName}} right now

{{/if}}
